.card {
  width: 307px;
  padding: 48px;
}

.card--orange {
  background-color: hsl(31, 77%, 52%);
  border-radius: 8px 8px 0 0;
}

.card--cyan {
  background-color: hsl(184, 100%, 22%);
}

.card--dark-cyan {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 0 8px 8px;
}

.card__title {
  font-family: "Big Shoulders Display", cursive;
  font-size: 40px;
  text-transform: uppercase;
  color: hsl(0, 0%, 95%);
  font-weight: 700;
}

.card__description {
  font-family: "Lexend Deca", sans-serif;
  color: hsl(0, 0%, 95%);
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7;
  opacity: 75%;
  margin-bottom: 25px;
}

.card__button-cta {
  font-family: "Lexend Deca", sans-serif;
  border-radius: 25px;
  width: 146px;
  font-size: 15px;
  padding: 13px;
  background-color: white;
  border: 2px solid transparent;
}

.card__button-cta--orange {
  color: hsl(31, 77%, 52%);
}

.card__button-cta--cyan {
  color: hsl(184, 100%, 22%);
}

.card__button-cta--dark-cyan {
  color: hsl(179, 100%, 13%);
}

.card__button-cta:hover {
  color: white;
  background-color: transparent;
  border: 2px solid white;
  cursor: pointer;
}

@media screen and (min-width: 1440px) {
  .card--orange {
    background-color: hsl(31, 77%, 52%);
    border-radius: 8px 0 0 8px;
  }

  .card--dark-cyan {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 8px 8px 0;
  }

  .card__description {
    margin-bottom: 83px;
  }
}
