* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

@media screen and (min-width: 1440px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
  }
}
